.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: #ffbb00;
}

.green {
    background-color: green;
}

.status {
    display: inline-block;
    
}