html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #1e5799, #5aaef0);
  background-attachment: fixed;
  color: white;
  font-family: 'Roboto', sans-serif;
}
